:root{
  --mainBlue:#2a2a72;
  --lightBlue:#009ffd;
  --mainWhite:#f3f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffa400;
  --mainGreen: rgb(8, 216, 95);
  overflow-y: auto;

}
:body{
 
  font-family: 'Literata', serif !important;
  background: var(--lightBlue) !important;
  color: var(--mainDark)!important;
 
}
.text-title{
  font-family: 'Crimson Pro', serif;
  letter-spacing: 0rem;
  font-size: 12px;
  font-weight: 100;
  text-transform: uppercase;
  color: black;

}
.text-title1{
  font-family: 'Crimson Pro', serif;
  letter-spacing: 0rem;
  font-size: 20px;
  font-weight: 100;
  text-transform: uppercase;
  color: black;
  text-align: center;
}

.text-blue{
  color: var(--mainBlue);
}
.text-bright{
  color: var(--lightBlue);
}

.graph_icon{
  width: 24px; 
  
  position: absolute; left: 10px;
}
.temp_icon{
  width: 27px; 
  fill: var(--lightBlue);

  

}
.seed_icon{
  width: 27px; 
  fill: white;
  

}


.button1{
  position: absolute;
left: 20%;
top: 0;
}
.button2{
  position: absolute;
left: 40%;
top: 0;
}
.button3{
  position: absolute;
left: 60%;
top: 0;
}
.temp_icon1{
  width: 80%; 
  fill: var(--lightBlue);

  

}
.button_template{
  position:absolute;
 
  left:10px;
}

.select-custom-class{
 
 font-size: 10px;


 width: 30%;



}
.slider-class{
  width:10%;
 

  
}
.slider-class1{

 

  
}
.slider-class2{

 

  
}
.menu_custompozition4{
   list-style-type: '';
   position: absolute;
   top:50%; 
   left:0px;
   

}
.menu_custompozition5{
  list-style-type: '';
  position: absolute;
  top:20%; 
  left:0px;
  

}
.row {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: normal;
  position: absolute;
  top:8%; 
  left:8%;
 
}
.block {
  width: 30%;
  
 
  position: absolute;
 
  left:30px;
}
.block1 {
  width: 70%;
  position: relative;
  top:10px;
  left:20%;

  
}
.block3 {
  width: 90%;
  position: relative;
  top:10px;
  left:20%;

  
}
.blockbox {
  width: 100%;
  height: 95%;
  position: relative;
  top:5%;
  

  
}

.block2 {
  width: 90%;
  background-color: green;

  
}



#App {
  font-family: sans-serif;

  /* Give app full page to work with */
  height: 100%;
}

#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* Individual item */


/* Change color on hover */

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 25px;
  height: 25px;
  left: 16px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #000000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 14px;
  width: 14px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #000000;
}

/* General sidebar styles */
.bm-menu {
  background: #ffffff;
  padding: 2.5em 1.5em 0;
  font-size: 1em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #000000;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
.box{
  border: 1px solid black;
  border-radius: 1px;
  cursor:pointer;
}
.box1{
  border: 1px solid black;
  border-radius: 1px;
  display:flex; flex-direction:row;
}
.box2{
  
 
  cursor:pointer;
}
#circle {
	width: 10px;
	height: 10px;
	background: red;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
  border-radius: 5px;
  display:flex;
}